*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding-left: 10px;
    font-size: 15px;
}

.board{
    padding:48px 40px 36px;
    position: absolute;
    left: 40%;
    top:25%;
    height: 450px;
    width: 350px;
    border: solid #DADCE0 thin;
    border-radius: 8px;
    
}

.title{
    margin-top: 120px;
    margin-bottom: 10px;
    color: #202124;
    text-align: center;
    font-weight: normal;
}
.username{
    margin-top: 30px;
    margin-bottom: 10px;
    border: solid #DADCE0 thin;
    border-radius: 5px;
    width: 340px;
    height: 50px;
}

.back{
    display: block;
    margin-left: 40px;
    margin-top: 170px;
    color: #3583EB;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}