<div class = "board">
    <h2 class="title">Sign in</h2>
    <p class="text">to continue to Calender </p>
    <img src="" alt="">
    <form action="" >
        <input type="text" class="username">
        <p class="noAccount">Couldn't find your Account</p>
        <a href = "" class="forget">Forgot Username?</a>
        <p class="account">Don't have account? Join us now.</p>
        <a href="" class = "create">Create account</a>
        <input type="submit" class="next" value="Next">
    </form>
</div>