<div class="board">

  <div class="signup">

    <h2 class="title">Create your Account</h2>
    <p class="text">to continue to Calender </p>

    <!-- Nick Name -->
    <input type="text" class="username" id="user" placeholder="Nick name">

    <!-- User Name -->
    <input #user type="text" class="username" id="user" placeholder="Username">
    <p class="wrong" id="nickName">That username is taken. Try another.</p>
    <p class="info">You can use letters, numbers &periods</p>

    <!-- password -->
    <div class = "setPass">
        <div class="pass_l">
            <input type="password" class="password_set" placeholder="Password"> 
        </div>

        <div class = "pass_r">
            <input type="password" class="password_set" placeholder="Confirm">
        </div>
        <p class="info">Use 8 or more characters with a mix of letters, numbers & <br> symbols</p>
    </div>

    <div class="route">
      <a class="signin" href="Login">Sign In instead</a>
      <button class="next" ripple>Submit</button>
    </div>

  </div>

</div>
